@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "SourceHanSerif";
    src: url('../../public/fonts/source-han-serif/SourceHanSerifCN-Regular.woff2');
}

@font-face {
    font-family: "Bender";
    src: url('../../public/fonts/bender/Jovanny\ Lemonad\ -\ Bender.otf');
}

@font-face {
    font-family: "SourceHanSans";
    src: url('../../public/fonts/source-han-sans/SourceHanSansCN-Regular.woff2');
}

@font-face {
    font-family: "MonaspaceKrypton";
    src: url('../../public/fonts/monaspace-krypton/MonaspaceKrypton-Regular.otf');
}

@font-face {
    font-family: "MonaspaceArgon";
    src: url('../../public/fonts/monaspace-argon/MonaspaceArgon-Regular.otf');
}

::selection {
    background-color: rgba(128, 128, 128, 0.5);
}
