@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "SourceHanSerif";
    src: url('../../public/fonts/source-han-serif/SourceHanSerifCN-Regular.otf');
}

@font-face {
    font-family: "Bender";
    src: url('../../public/fonts/bender/Jovanny\ Lemonad\ -\ Bender.otf');
}

@font-face {
    font-family: "SourceHanSans";
    src: url('../../public/fonts/source-han-sans/SourceHanSansCN-Regular.otf');
}

@font-face {
    font-family: "MonaspaceKrypton";
    src: url('../../public/fonts/monaspace-krypton/MonaspaceKrypton-Regular.otf');
}

@font-face {
    font-family: "MonaspaceArgon";
    src: url('../../public/fonts/monaspace-argon/MonaspaceArgon-Regular.otf');
}

::selection {
    background-color: rgba(128, 128, 128, 0.5);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.3em;
}

h4 {
    font-size: 1em;
}

h5 {
    font-size: 0.8em;
}

h6 {
    font-size: 0.7em;
}