@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "SourceHanSerif";
    src: url('../../public/fonts/source-han-serif/SourceHanSerifCN-Regular.otf');
}

@font-face {
    font-family: "Bender";
    src: url('../../public/fonts/bender/Jovanny\ Lemonad\ -\ Bender.otf');
}

@font-face {
    font-family: "SourceHanSans";
    src: url('../../public/fonts/source-han-sans/SourceHanSansCN-Regular.otf');
}

/* .scrollbar-fallback {
    scrollbar-width: thin;
    scrollbar-color: #fafafa transparent;
} */

.scrollbar-light::-webkit-scrollbar {
    width: 15px;
}

.scrollbar-light::-webkit-scrollbar-track {
    background: transparent;
    border: 2px solid #fafafa;
}

.scrollbar-light::-webkit-scrollbar-thumb {
    background-color: transparent;
    border: 2px solid #fafafa;
}

.scrollbar-dark::-webkit-scrollbar {
    width: 15px;
}

.scrollbar-dark::-webkit-scrollbar-track {
    background: transparent;
    border: 2px solid #191919;
}

.scrollbar-dark::-webkit-scrollbar-thumb {
    background-color: transparent;
    border: 2px solid #191919;
}